@import 'nib'
global-reset()
reset-html5()

@import 'defaults'
@import 'bootstrap'
@import 'sections'
@import 'formats'

@media only screen and (min-width: 480px)
  media480()

@media only screen and (min-width: 600px)
  media600()

@media only screen and (min-width: 768px)
  media768()

@media only screen and (min-width: 992px)
  media992()

@media only screen and (min-width: 1382px)
  media1382()

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5)
  media2x()
