<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Schedule a job interview</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!--[if lt IE 9]><script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

    <link rel="stylesheet" href="../assets/css/index.css">
    <link rel="stylesheet" href="../assets/css/anytime.css">
    <link rel="canonical" href="/">
  </head>

  <body>

    <div class="container">
      <div class="row">
        <span class="span8 offset2">
          <h1>Schedule a job interview</h1>
        </span>
      </div>

      <div class="row">
        <form class="span8 offset2 form-horizontal">

        <div class="accordion" id="accordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">1. Choose 3 dates and times that work for you</a>
            </div>
            <div id="collapseOne" class="accordion-body in collapse">
              <div class="accordion-inner">
                <div class="control-group">
                  <label class="control-label">Date 1</label>
                  <div class="controls">
                    <input id="date1" class="datetime" placeholder="Choose&hellip;">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Date 2</label>
                  <div class="controls">
                    <input id="date2" class="datetime" placeholder="Choose&hellip;">
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Date 3</label>
                  <div class="controls">
                    <input id="date3" class="datetime" placeholder="Choose&hellip;">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">2. Background check</a>
            </div>
            <div id="collapseTwo" class="accordion-body collapse">
              <div class="accordion-inner">
                <div id="phases">
                  <div class="phase">
                    <div class="control-group">
                      <label class="control-label">Start</label>
                      <div class="controls">
                        <a class="btn btn-bgcheck">Background Check</a>
                        <p class="help-block">You need to complete a background check before we can schedule interviews for you.</p>
                      </div>
                    </div>
                  </div>
                  <div class="phase">
                    <div class="control-group">
                      <label class="control-label"><i class="icon-loading"></i>
</label>
                      <div class="controls">
                        <a class="btn disabled btn-bgcheck">In Progress&hellip;</a>
                        <p class="help-block">Waiting for you to receive your latest credit score.</p>
                      </div>
                    </div>
                  </div>
                  <div class="phase">
                    <div class="control-group">
                      <label class="control-label">Credit Score</label>
                      <div class="controls">
                        <input id="credit-score" type="text" placeholder="Enter here&hellip;">
                        <p class="help-block">Thank you for completing the credit check. Enter your credit score into the field above.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="submit-row">
          <input id="schedule-interview" type="submit" class="btn btn-large disabled" value="Schedule interview">
        </div>
        </form>


       </div><!--/span-->
      </div><!--/row-->


    </div><!--/.fluid-container-->

    <script src="../assets/js/bootstrap/jquery.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-transition.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-alert.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-modal.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-dropdown.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-scrollspy.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-tab.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-tooltip.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-popover.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-button.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-collapse.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-carousel.js"></script>
    <script src="../assets/js/bootstrap/bootstrap-typeahead.js"></script>

    <script src="../assets/js/anytime.min.js"></script>
    <script src="../assets/js/jquery.cycle.all.js"></script>
    <script src="../assets/js/script.js"></script>


  </body>
</html>
