// ACCORDION
// ---------


// Parent container
.accordion
  margin-bottom: @baseLineHeight


// Group == heading + body
.accordion-group
  margin-bottom: 2px
  border: 1px solid #e5e5e5
  border-radius: 4px
  box-shadow b15 0 0 2em
  border-radius 5px
  bt 1px solid m120
  overflow hidden

.accordion-heading
  border-bottom: 1px solid m60
  bt 1px solid w50
  background linear-gradient(top, m130, m90 50%, m60 50%, m80)
  box-shadow inset b15 0 0 10px

.accordion-heading .accordion-toggle
  display: block
  padding: 8px 15px
  color #666
  fw bold
  s 110%
  color #fff
  text-shadow b90 0 0 5px

// Inner needs the styles because you can't animate properly with any styles on the element
.accordion-inner
  padding: 1.5em 15px 0
  b 1px solid #ccc
  bt 1px solid #fff
  bb 1px solid #aaa
  bg #fff
  background linear-gradient(top, m235, m230)
  border-radius 0 0 5px 5px
  clearfix()
